// body {
//     background: #fffefc;
// }

$font: "sans-serif", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//Colors
$off-white: #fffefc;
$black: #000000;
$darkgrey: #7e7e7e;
$grey: #a7a7a7;
$red: #eb5757;
$salmon: #e16259;
$lightpink: #FFE6EE;
$pink: #FFDBE9;
$peach: #FFB6C1;

html, 
body {
    font-family: $font;
    // font-size: 16px; 
    background: lavenderblush;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.container {
    width: 1640px; 
    min-width: 1640px;
    margin: 0 auto; 
    @media(max-width: 1440px){
        width: 1280px; 
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px; 
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px; 
        min-width: 768px;
    }
}

//Header
header {
    background: $off-white;
    // border-bottom: 0.5px solid lightgrey;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
      display: flex;
      align-items: center;
    //   justify-content: space-between;
      height: 80px;
      .logo {
        a {
          margin: 0 5px; 
          font-weight: 600;
          text-decoration: none;
          letter-spacing: 1.5px;
          color: $black;
        }
      }
      .navigation {
        margin-left: 840px;
        nav {
          a {
            margin: 0 20px;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: lowercase;
            font-size: 0.75rem;
            color: $black;
            &:last-child {
              margin-right: 0px;
            }
          }
          a:hover {
            color:$peach;
          }
        }
      }
    }
  }

  //Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $off-white;
    position: relative;
    height: 100vh;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .main-text {
        // font-size: 50px;
        font-size: 3.3vw;
        letter-spacing: -0.5px;
        font-weight: 700;
        color: $black;
        position: absolute;
        width: 100%;
        height: 8vh;
        left: 18%;
        top: 50%;
        transform: translateY(-250%);
        text-align: left;
        // mix-blend-mode: difference;
        z-index: 9;
        @media (max-width: 1440px) {
          // font-size: 3rem;
          font-size: 3.35vw;
          letter-spacing: 2px;
        }
      }
      .main-body {
        // font-size: 20px;
        font-size: 1.3vw;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 30px;
        color: $darkgrey;
        position: absolute;
        width: 60%;
        height: 9vh;
        left: 18%;
        top: 50%;
        transform: translateY(-100%);
        text-align: start;
        z-index: 9;
      }
      .btn-row {
        a {
          font-weight: 500;
          position: absolute;
          width: 100%;
          left: 18%;
          top: 50%;
          transform: translateY(100%);
          // font-size: 17px;
          font-size: 1.1vw;
          line-height: 25.5px;
          letter-spacing: 1px;
          color: $salmon;
        }
      }
      // .main-image {
      //   width: 536px;
      //   margin: 0 auto;
      //   @media (max-width: 1440px) {
      //     width: 436px;
      //   }
      // }
      // .side-image {
      //   width: 260px;
      //   position: absolute;
      //   @media (max-width: 1440px) {
      //     width: 208px;
      //   }
      //   &.left {
      //     left: 168px;
      //     top: 12px;
      //     @media (max-width: 1440px) {
      //       left: 128px;
      //     }
      //   }
      //   &.right {
      //       right: 168px;
      //       bottom: 12px;
      //       @media (max-width: 1440px) {
      //         right: 128px;
      //           }
      //       }
        // }
    }
    .scroll {
        left: 6.5%;
        font-weight: 700;
        // font-size: 0.875rem;
        font-size: 1vw;
        letter-spacing: 1.5px;
        color: $pink;
        text-transform: lowercase;
        position: absolute;
        bottom: 48px;
      }

      .fixed-misc {
        position: fixed;
        top: 50%;
        right: -48px;
        transform: rotate(-90deg);
        font-weight: 700;
        text-transform: uppercase;
        // font-size: 0.875rem;
        font-size: 0.9vw;
        letter-spacing: 1.5px;
        color: $peach;
        // mix-blend-mode: luminosity;
        z-index: 8;
        @media (max-width: 1440px) {
          right: -112px;
        }
      }
}

//About blurb
.about-blurb {
    padding: 48px 0;
    background: $off-white;
    position: relative;
    .inner-blurb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 10%;
      .content {
        width: 33%;
        @media (max-width: 1440px) {
          width: 40%;
        }
        h3 {
          color: $black;
          font-weight: 700;
        //   text-transform: lowercase;
          // font-size: 38px;
          font-size: 3vw;
          letter-spacing: 1.5px;
          margin: 0;
        }
        p {
          // font-size: 1rem;
          font-size: 1.1vw;
          line-height: 2rem;
          font-weight: 300;
          margin: 50px 0 32px;
          color: $darkgrey;
        }
        .btn-row {
          a {
            font-weight: 500;
            // font-size: 17px;
            font-size: 1.2vw;
            line-height: 25.5px;
            letter-spacing: 1px;
            color: $salmon;
          }
        }
      }
      .images {
        width: 50%;
        height: 1000px;
        position: relative;
        z-index: 7;
        @media (max-width: 1440px) {
          // height: 600px;
          height: 80vh;
        }
        .top-right {
          position: absolute;
          width: 460px;
          top: 0;
          right: 0;
          z-index: 4;
          @media (max-width: 1440px) {
            // width: 360px;
            width: 25vw;
          }
        }
        .bottom-left {
          position: absolute;
          width: 410px;
          left: 0;
          bottom: 0;
          @media (max-width: 1440px) {
            // width: 300px;
            width: 20vw;
          }
        }
      }
    }
    .black-box {
      order: 0;
      background: $lightpink;
      width: 40vw;
      height: 52vh;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-47%);
      @media (max-width: 1440px) {
        // width: 636px;
        // height: 390px;
        width: 40vw;
        height: 52vh;
      }
      &.overlay {
        z-index: 3;
        background: $lightpink;
        mix-blend-mode: soft-light;
      }
    }
  }

  .footer {
    background: $off-white;
    border-top: 0.5px solid lightgrey;
    height: 80px;
    width: 100%;
    position: absolute;
    .inner {
      margin-top: 40px;
      // font-size: 14px;
      font-size: 1vw;
      line-height: 21px;
      letter-spacing: 1px;
      color: $darkgrey;
      background: $off-white;
      padding: 0 120px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      .socials {
        a {
          margin: 0 8px;
        }
      }
    }
  }
