// body {
//     background: #fffefc;
// }

$font: "sans-serif", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//Colors
$off-white: #fffefc;
$black: #000000;
$darkgrey: #7e7e7e;
$grey: #a7a7a7;
$red: #eb5757;
$salmon: #e16259;
$lightpink: #FFE6EE;
$pink: #FFDBE9;
$peach: #FFB6C1;



// Global Styles and Classes

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
    scroll-behavior: smooth;
    font-family: $font;
    background: lavenderblush;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
}

//Header
header {
    background: $off-white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 200;
    .inner-header {
      margin-left: 5%;
      display: flex;
      align-items: center;
      height: 80px;
      .logo {
        a {
          margin: 0 4px;
          font-weight: 450;
          text-decoration: none;
          letter-spacing: 1px;
          color: $peach
        }
      }
      .toggle-btn {
        position: absolute;
        font-size: 2rem;
        right: 4.75%;
        top: 30%;
        background: transparent;
        border-color: transparent;
        outline: none;
        color: $black;
        cursor: pointer;
        transition: all 0.3s linear;
        @media (min-width: 992px) {
          display: none;
        }
      }
      .toggle-btn:hover {
        color: $peach;
      }

      .navigation {
        position: absolute;
        right: 7%;
        nav {
          a {
            margin: 0 20px;
            font-weight: 440;
            text-decoration: none;
            letter-spacing: 1px;
            // text-transform: lowercase;
            font-size: 0.9rem;
            color: $black;
            &:last-child {
              margin-right: 0px;
            }
          }
          a:hover {
            color:$peach;
          }

          button {
            margin: 0 20px;
            font-weight: 440;
            text-decoration: none;
            letter-spacing: 1px;
            font-size: 0.9rem;
            color: $black;
            background: none;
            border: none;
            cursor: pointer;
            outline: inherit;
          }
          button:hover{
            color:$peach;
          }
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
      }
    }
  }

  //Sidebar
  .sidebar {
    background: $off-white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translateX(-100%);
  }
  .show-sidebar {
    opacity: 1;
    transform: translateX(0);
  }
  .sidebar-links li {
    opacity: 0;
    list-style-type: none;
  }
  .sidebar-links li a {
    display: block;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    color: $darkgrey;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    font-size: 2rem;
    transition: all 0.3s linear;
  }
  .sidebar-links li a:hover {
    background: transparent;
    color: $pink;
  }
  .close-btn {
    position: absolute;
    right: 4.65%;
    top: 2.75%;
    font-size: 2.5rem;
    outline: none;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  @media screen and (min-width: 992px) {
    .sidebar {
      transform: translateX(-100%);
    }
  }


  //Sidebar Animation
  .sidebar-links li {
    animation: slideRight 0.5s ease-in-out 0.3s forwards;
  }
  .sidebar-links li:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  .sidebar-links li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .sidebar-links li:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  .sidebar-links li:nth-of-type(4) {
    animation-delay: 1s;
  }
  .sidebar-links li:nth-of-type(5) {
    animation-delay: 1.25s;
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .sidebar-icons li {
    opacity: 0;
    animation: slideUp 0.5s ease-in-out 0.3s forwards;
  }
  .sidebar-icons li:nth-of-type(1) {
    animation-delay: 0.25s;
  }
  .sidebar-icons li:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .sidebar-icons li:nth-of-type(3) {
    animation-delay: 0.75s;
  }
  .sidebar-icons li:nth-of-type(4) {
    animation-delay: 1s;
  }
  // .sidebar-icons li:nth-of-type(5) {
  //   animation-delay: 1.25s;
  // }
  @keyframes slideUp {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  //Banner
.banner {
    background-color: $off-white;
    position: relative;
    height: 100vh;
    .row {
      height: 100%;
      display: grid;
      align-items: center;
      
      .main-text {
        position: absolute;
        top: 32%;
        left: 20%;
        font-size: 7vmin;
        letter-spacing: 1px;
        font-weight: 650;
        color: $black;
        text-align: left;
        z-index: 9;
      }
      .main-body {
        position: absolute;
        top: 42%;
        left: 20%;
        right: 20%;
        font-size: 2.6vmin;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 30px;
        color: $darkgrey;
        z-index: 9;
      }
      .btn-row {
        position: absolute;
        top: 53%;
        left: 20%;
        a {
          font-weight: 500;
          font-size: 2.3vmin;
          line-height: 25.5px;
          letter-spacing: 1px;
          color: $salmon;
        }
        @media screen and (max-width: 910px) {
          top: 57%;
        }
      }
    }
    .scroll {
        position: absolute;
        top: 90%;
        left: 10%;
        font-weight: 700;
        font-size: 2vmin;
        letter-spacing: 1.5px;
        color: $pink;
        text-transform: lowercase;
        position: absolute;
        // bottom: 48px;
      }

      .fixed-misc {
        position: fixed;
        top: 50%;
        right: -120px;
        transform: rotate(-90deg);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.9vmin;
        letter-spacing: 1.5px;
        color: $peach;
        z-index: 8;
      }
}

//About blurb
.about-blurb {
    padding: 48px 0;
    background: $off-white;
    position: relative;
    .inner-blurb {
      display: flex;
      align-items: center;
      margin-right: 3%;
      .content {
        margin-left: 10%;
        width: 40%;
        h3 {
          color: $black;
          font-weight: 700;
          font-size: 6vmin;
          letter-spacing: 1.5px;
          margin: 0;
        }
        p {
          font-size: 2.3vmin;
          margin-top: 4%;
          line-height: 2rem;
          font-weight: 300;
          color: $darkgrey;
        }
        .btn-row {
          margin-top: 2%;
          a {
            font-weight: 500;
            font-size: 2.4vmin;
            line-height: 25.5px;
            letter-spacing: 1px;
            color: $salmon;
          }
        }
      }
      .images {
        margin-top: 10%;
        margin-left: 12%;
        position: relative;
        z-index: 7;
        .top-right {
          flex-basis: 350em;
          z-index: 4;
          float: left;
          width: 50vmin;
          top: 0;
          right: 0;
          // box-shadow: 0px 0px 21px -10px #000000;
          border-radius: 20px;
        }
        .top-right img{
          border-radius: 20px;
          // transition: all 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96) !important;
        }
        // .top-right img:hover{
        //   transform: scale(1.1);
        // }
        .bottom-left {
          position: absolute;
          width: 20vw;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  .footer { 
    position: absolute;
    background: $off-white;
    border-top: 0.5px solid lightgrey;
    height: 3rem;
    width: 100%;
    .inner {
      margin-top: 40px;
      font-size: 2vmin;
      line-height: 21px;
      letter-spacing: 1px;
      color: $darkgrey;
      background: $off-white;
      padding: 0 20px;
      height: 4.5rem;
      display: flex;
      justify-content: space-between;
      .socials {
        a img{
          margin: 0 8px;
          width: 40px;
        }
      }
    }
  }
