// body {
//     background: #fffefc;
// }

$font: "sans-serif", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//Colors
$off-white: #fffefc;
$black: #000000;
$darkgrey: #7e7e7e;
$grey: #a7a7a7;
$red: #eb5757;
$salmon: #e16259;
$lightpink: #FFE6EE;
$pink: #FFDBE9;
$peach: #FFB6C1;

html, 
body {
    font-family: $font;
    font-size: 16px; 
    background: $off-white;
    overflow-x: hidden;
}

.container {
    width: 1640px; 
    min-width: 1640px;
    margin: 0 auto; 
    @media(max-width: 1440px){
        width: 1280px; 
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px; 
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px; 
        min-width: 768px;
    }
}

//Header
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
      display: flex;
      align-items: center;
    //   justify-content: space-between;
      height: 80px;
      .logo {
        a {
          margin: 0 5px; 
          font-weight: 600;
          text-decoration: none;
          letter-spacing: 1.5px;
          color: $black;
        }
      }
      .navigation {
        margin-left: 840px;
        nav {
          a {
            margin: 0 20px;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: lowercase;
            font-size: 0.75rem;
            color: $black;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

  //Banner
.banner {
    display: flex;
    align-items: center;
    background-color: $off-white;
    position: relative;
    height: 100vh;
    .row {
      position: relative;
      .main-text {
        font-size: 50px;
        letter-spacing: -0.5px;
        font-weight: 700;
        color: $black;
        position: absolute;
        width: 100%;
        left: 18%;
        top: 50%;
        transform: translateY(-250%);
        text-align: left;
        // mix-blend-mode: difference;
        z-index: 9;
        @media (max-width: 1440px) {
          font-size: 3rem;
          letter-spacing: 2px;
        }
      }
      .main-image {
        width: 536px;
        margin: 0 auto;
        @media (max-width: 1440px) {
          width: 436px;
        }
      }

      .side-image {
        width: 260px;
        position: absolute;
        @media (max-width: 1440px) {
          width: 208px;
        }
        &.left {
          left: 168px;
          top: 12px;
          @media (max-width: 1440px) {
            left: 128px;
          }
        }
        &.right {
            right: 168px;
            bottom: 12px;
            @media (max-width: 1440px) {
              right: 128px;
                }
            }
        }
    }
    .scroll {
        left: 6.5%;
        font-weight: 700;
        font-size: 0.875rem;
        letter-spacing: 1.5px;
        color: $black;
        text-transform: lowercase;
        position: absolute;
        bottom: 48px;
      }
}